global_defs { 
    notification_email {
      root@localhost
    }
    
    notfication_email_from root@localhost
    smpt_server localhost
    smtp_connect_timeout 20
}


vrrp_instance VI_1 {
    {% if worker|string() == 'haproxy1' %}
    sate MASTER
    {% else %}
    state SLAVE
    {% endif %}
    interface eth1
    {% if worker|string() == 'haproxy1' %}
    virtual_router_id 51
    priority 200
    {% else %}
    virtual_router_id 51
    priority 100
    {% endif %}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass KeepMeAlive
    }
    virtual_ipaddress {
        10.0.0.16
    }
}
